<%- include('./include/header') -%>
    <center>
        <h2> User List </h2>
        <table class="table table-responsive-lg table-bordered table-hover">
            <thead class="thead-dark text-center">
                <tr>
                    <th scope="col"> Name </th>
                    <th scope="col"> Email </th>
                    <th scope="col"> Phone Number </th>
                    <th scope="col"> Adddress </th>
                    <th scope="col"> Username </th>
                    <th scope="col"> Image </th>
                    <th scope="col"> Update/Delete </th>
                </tr>
            </thead>
            <tbody class="text-center">
                <% for(var i=0; i < data.length; i++) { %>
                    <tr>
                        <td>
                            <%= data[i].name %>
                        </td>
                        <td>
                            <%= data[i].email %>
                        </td>
                        <td>
                            <%= data[i].phoneNumber %>
                        </td>
                        <td>
                            <%= data[i].address %>
                        </td>
                        <td>
                            <%= data[i].logininfo.username %>
                        </td>
                        <td>
                            <center>
                                <img src="/images/<%=data[i].image %>" width="70" height="40">
                            </center>
                        </td>
                        <td>
                            <center>
                                <a href="/user/change_form/<%= data[i].id %>">
                                    <button class="btn btn-dark">
                                        <i class="fa-solid fa-wrench"></i>
                                    </button>
                                </a>
                                <a href="/user/deleteUser/<%= data[i].id %>">
                                    <button class="btn btn-danger">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </a>
                            </center>
                        </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>
    </center>
    <br>

    <center>
        <a href="/user/newUser">
            <button class="btn btn-lg btn-dark">
                <i class="fa-solid fa-user-plus"></i>
            </button>
        </a>

        <% if(person.Role==role) { %>
            <a href="/admin/dashboard">
                <button class="btn btn-lg btn-warning">
                    <i class="fa-solid fa-list"></i>
                </button>
            </a>
            <% } %>

                <a href="/logout">
                    <button class="btn btn-lg btn-danger">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </button>
                </a>
    </center>

    <br>

    <center>
        <% if(locals.logout){ %>
            <p>
                <%= logout %>
            </p>
            <% } %>
    </center>

    <center>
        <%- include('./include/flashMessages') -%>
    </center>
    </body>

    </html>